.mainDiv{
    font-family: 'Montserrat', sans-serif;
}
.detailPageImg h2{
    
    font-weight: normal;
    padding: 10px 0px;
    margin: 0;
}
.detailPageTitle{
    font-weight: bold;
    font-size: 60px;
}
.firstDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 3px solid rgba(128, 128, 128, 0.5);
}
.iconDetailDiv{
    display: flex;
    margin-left: 20px;
    padding-bottom: 5px;
}

.likesDiv{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    
}
.smallDetailDiv{
    display: flex;
    align-items:center ;
}
.typeP{
    margin-left: 20px;
    font-weight: bolder;
}
.detailPageBtn{
   background-color: rgb(218, 218, 218);
   color: black;
    margin-right: 7px;
    border-radius: 7px;
    height: 20;
    font-family: 'Montserrat', sans-serif;
}
.detailPageBtnLike{
 width: 160px;
}
.detailPageBtn:hover,
 .detailPageBtn.active {
    background-color: #9191c7;
    color: white;
}
.mapDiv{
    display: flex;
    margin: 50px;
    
}
.commDiv{
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 40px;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    padding-left: 10px;
}
.comm{
    font-weight: bold;
    font-size: 2rem;

}
.scrollableDiv {
    max-height: 400px; 
    overflow-y: auto; 
  }
.commUl{
box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
list-style: none;
display: block;
padding: 7px;
margin: 10px;
border-radius: 7px;
max-width: 400px;
}

.detailDesc{
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    margin-right: 40px;
    margin-left: 50px;
    border-radius: 7px;
    padding: 10px;
    font-size: 20px;
    
}
.addCommBtn{
    border-radius: 50px;
    margin-left: 20px;
    height: 40px;
    width: 40px;
    background-color: #78cff8;
    border-color: #ffffff;
}
.textAreaDetail{
    width: 550px;
    border-radius: 7px;
    
}