

.mainDivFilterBar {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    
    
  }
 .pIntem{
    display: flex;
    flex-direction: column;
 }
  .labelItem{
    display:block;
    margin-left: 30px;
    margin-top: 20px;
  }

  .dropdown{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-left: 20px;
    border: none;
    appearance: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    margin-top:7px;
    min-width: 200px;
  }
  .inputItem{
  
   
}
.btnFiltrare{
 margin-top: 20px;
 height: 40px;
 width: 100px;
 background-color: #00003B;  
 color: white;
 font-family: 'Montserrat', sans-serif;
 border-radius: 10px;
}