#events {
    width: 90%;
    max-width: 90%;
    list-style: none;
    margin: 2rem auto;
    padding: 1rem;
  }
  
  .event {
    width: 25%;
    margin: 0 auto 7rem; 
    display: inline-block;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 1rem;
    border: 40px;
    overflow: hidden;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    font-family: 'Montserrat', sans-serif;
  }
  
  .event article {
    height: 100%;
    justify-content: space-between;
  }
  
  .event img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }

.bigP {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px; 
}

.bigP p {
  margin: 0;
  padding: 0;
  color: rgb(36, 125, 177);

}
  .event h3 {
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    padding-left: 30px;
    margin: 0.75rem 0;
    color: rgb(0, 0, 0);
    
  }
  
  .event p {
    margin:0rem 1rem 0rem 1rem;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .lastP
  {
    text-align: left;
    color:grey;
    padding-left: 30px;
  }