.header {
    padding: 1rem;
    margin: 0;
    display: flex;
    justify-content: space-around;
    background-color: #456e39;
  }
  
  .list {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .list a {
    font-size: larger;
    font-weight: 500;
    padding: 0.5rem;
    text-decoration: none;
    color: black;
    border: 0.5px solid transparent;
  }
  
  .list a:hover,
  .list a.active {
    background-color: lightgray;
    border: 0.5px solid lightgray;
    border-radius: 1rem;
  }

#logout_button {
  font-size: larger;
  font-weight: 500;
  padding: 0.5rem;
  background: transparent;
  text-decoration: none;
  color: black;
  border: 0.5px solid transparent;
  margin-top: 0;
}

#logout_button:hover {
  background-color: lightgray;
  border: 0.5px solid lightgray;
  border-radius: 1rem;
  margin: 0;
  align-items: start;
}
  